.todo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.25rem 1rem;
	margin: 0.1rem 0;
	color: var(--color-text);
}

.checkbox {
	width: 1.25rem;
	height: 1.25rem;
}

.text {
	flex: 1 1 0%;
	margin-left: 0.5rem;
	font-size: 1.25rem;
}

.icon {
	width: 25px;
	height: 25px;
	background-color: var(--color-grey);
	border-radius: 100%;
   transition: all 150ms ease-out;
}

.icon:hover {
	background-color: var(--color-accent);
	/* transform: rotate(15deg) scale(1.2); */
}

.iconButton {
	scale: 1.25;
	/* 이유는 모르겠지만 사이즈를 지정하면 여백만 넓어짐 scale로 사이즈 조정 가능 */

	color: var(--color-white);
	background-color: transparent;
	margin-top: 5px;
}
